port: 8080
db:
  host: localhost
  user: postgres
  name: postgres
  password: ""
  port: 5432
  sslmode: disable
newrelic:
  enabled: false
  appname: app
  license: ____LICENSE_STRING_OF_40_CHARACTERS_____
service:
  host: http://localhost:3000
